*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Cabin', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lora', serif; 
}

h5{
    font-size: xx-large;
    color: white;
    text-align: center;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #1E293B;
    margin-left: 10%;
    margin-right: 10%;
}

.uname{
    padding: 1rem;
    /* background-color: #1E293B; */
    color: white;
    text-align: center;
}

.pws{
    padding: 1rem;
    /* background-color: #1E293B; */
    color: white;
    text-align: center;
}

.submit{
    font-size: large;
}

input{
    gap: 1rem;
    border: none;
    width: 120px;
    height: 30px;
    text-align: center;
}

button{
    margin: 1rem;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

/* login */
@media screen and (max-width:900px){

    .login-form{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
    }

    .uname, .pws{
        margin: 1rem;
        padding: 0;
        
        height: auto;
    }

    .submit{
        margin: 1rem;
        
    }
}