*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Cabin', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lora', serif; 
}

.login-form{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr;
    text-align: center;
}

.container{
    padding: 1rem;
    background-color: #1E293B;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    height: 600px;
}

.submit{
    margin-top: 6rem;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: large;
}

input{
    gap: 1rem;
    border: none;
    width: 120px;
    height: 30px;
    text-align: center;
}

button{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

/* login */
@media screen and (max-width:900px){

    .login-form{
        margin: 0;
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 300px 1fr;
        grid-template-rows: 300px 50px;
    }

    .container{
        display: grid;
        margin: 0;
        padding: 0;
        align-content: space-evenly;
        justify-content: space-around;
        
        grid-column: 2/2;
        height: auto;
    }

    .submit{
        margin: auto;
        grid-column: 2/3;
        grid-row: 2/2;
    }
}